
.content-lists-title {
  font-weight: 700;
  margin: 0 0 40px 0;

  em {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #1976d2;
  }
}

.content-lists {
  list-style: none;

  li {
    margin-bottom: 40px; 

    header {
      margin-bottom: 0.5rem;
    }

    h2 {
      margin: 0 0 .1em 0;
      font-weight: 700;
    }
    
    a {
      text-decoration: none;
    }

    a:hover, a:focus {
      h2, h3 {
        text-decoration: underline;
      }
    }

    time {
      font-size: 0.86rem;
      color: #828282;
      font-variant-numeric: tabular-nums;
    }

    .excerpt p {
      font-size: 1rem;
      @include textClamp(2)
    }
  }
}

.v-pagination__item {
  font-size: 16px;
}