.wp-block-latest-posts {
  list-style: none;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      padding: 0.25rem 0;
      flex: auto;
      color: #212121;
      font-weight: 500;
      font-size: 0.86rem;
    }

    time {
      font-size: 0.75rem;
      color: #828282;
    }
  }
}